.container {
    display: flex;
}


.fern {
    width: 700px;

}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    /* width: ; */
    display: flex;
    background-color: aqua;
    position: absolute;
    top: 200px;
    flex-grow: 1;
}

.logo-image {
    display: flex;
    height: 200px;
}

.image {
    position: relative;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    
}

.sales-text,
.submission {
    background-color: antiquewhite;
}

form > * {
    display: flex;
}

input[type="submit"] {
    background-color: #596D48;
    color: white
}


