* {
    box-sizing: border-box;
    margin: 0px;
}

@font-face {
    font-family: "norse";
    src: url("fonts/norse-bold-webfont.woff2") format('woff');
}

.container {
    display: flex;
    
}


.fern {
    height: 100vh;
    
    /* width: 700px; */

}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logo-container {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-image {
    display: flex;
    height: 200px;
}

.odin-text {
    font-family: "norse";
    font-size: 130px;
    color: white;

}

.image {
    position: relative;
}

div.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    flex-grow: 1;
    padding-top: 10px;
    gap: 10px;
    
}

.sales-text,
.submission {
    background-color: antiquewhite;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.sales-text,
form,
.submission {
    padding-left: 35px;
}

.sales-text {
    padding-top: 80px;
}

form > * {
    display: flex;
}

input[type="submit"] {
    background-color: #596D48;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}

.submission {
    gap: 20px;
    padding-top: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
}


